<!DOCTYPE html>
<html>
  <head>
    <title>PortfolioAc</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application_fix', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

    <script src="https://unpkg.com/scrollreveal@4.0.9/dist/scrollreveal.min.js"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div id="particles-js" data-controller="particles"></div>
    <div data-controller="cursor">
      <div data-cursor-target="cursor" class="cursor"></div>
      <div data-cursor-target="follower" class="cursor-follower"></div>
    </div>
    <div class="scroll-indicator" data-controller="scroll-indicator"></div>
    <div class="content-wrapper" data-controller="scroll-reveal">
      <%= yield %>
    </div>
  </body>
</html>
